{% extends 'base.html.twig' %}

{% block title %}New Beneficio{% endblock %}

{% block body %}
    <h1>Create new Beneficio</h1>

    {{ include('beneficio/_form.html.twig') }}

    <a href="{{ path('beneficio_index') }}">back to list</a>
{% endblock %}
