<form method="post" action="{{ path('servicio_delete', {'id': servicio.id}) }}" onsubmit="return confirm('¿Desea eliminar este servicio?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ servicio.id) }}">
    <button id="btn_delete" class="btn btn-danger m-1">Eliminar</button>
</form>
